<div class="suggestions" id="sticky-sidebar">
  <h4 class="grey">Who to Follow</h4>
  <div class="follow-user">
    <img src="spa/assets/user-2.jpg" alt="" class="profile-photo-sm pull-left" />
    <div>
      <h5>
        <a href="timeline.html">Diana Amber</a>
      </h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
  <div class="follow-user">
    <img src="spa/assets/user-3.jpg" alt="" class="profile-photo-sm pull-left" />
    <div>
      <h5>
        <a href="timeline.html">Cris Haris</a>
      </h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
  <div class="follow-user">
    <img src="spa/assets/user-4.jpg" alt="" class="profile-photo-sm pull-left" />
    <div>
      <h5>
        <a href="timeline.html">Brian Walton</a>
      </h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
  <div class="follow-user">
    <img src="spa/assets/user-5.jpg" alt="" class="profile-photo-sm pull-left" />
    <div>
      <h5>
        <a href="timeline.html">Olivia Steward</a>
      </h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
  <div class="follow-user">
    <img src="spa/assets/user-6.jpg" alt="" class="profile-photo-sm pull-left" />
    <div>
      <h5>
        <a href="timeline.html">Sophia Page</a>
      </h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
</div>
