
<div class="post-content post-container" *ngIf="toggleAddPost">
      <div class="card">        
        <div class="card-body">
          <form [formGroup]="postForm" action="" method="post" class="form-horizontal">
            <div class="form-group row">            
              <div class="col-md-5">
                <input  id="title" [(ngModel)]="post.title"  formControlName="title" class="form-control" placeholder="Title..">    
                 <div *ngIf="postForm.controls['title'].dirty  && postForm.controls['title'].errors" class="alert alert-danger">                 
                    <p *ngIf="postForm.controls['title'].errors.required"> Please enter title</p>
                </div>                    
              </div>
            </div>
            <div class="form-group row">           
              <div class="col-md-12">
               <textarea rows="4" id="description" [(ngModel)]="post.description" formControlName="description" class="form-control" placeholder="Share what you wish"> </textarea>
               <div *ngIf="postForm.controls['description'].dirty  && postForm.controls['description'].errors" class="alert alert-danger">                 
                    <p *ngIf="postForm.controls['description'].errors.required"> Please share what you wish</p>
                </div>               
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="createPost()" [disabled] ="!postForm.valid"><i class="fa fa-dot-circle-o"></i> Publish</button>         
        </div>
      </div>
      
</div>


