<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 static">
        <post-profile></post-profile>
        <post-news-feed-menu></post-news-feed-menu>
        <post-follow-user></post-follow-user>
      </div>
      <div class="post-back-list">
          <a class="post-back-btn" (click)="onBack()">❮ Back to list</a>
      </div>
      <div class="icon-wrapper">
        <div class="custom-icon">
          <post-clap [NumberOfClaps] = "numberOfClaps" (clapEvent)="onClapPost()"></post-clap>
        </div>
        <span class="fix-editor">&nbsp;</span>
      </div>
      <div class="col-md-8 news-feed-details">
        <post-item [detailMode] = "true" [post]="post$ | async"></post-item>
        <div class="post-content" *ngFor='let comment of comments$ | async'>
          <post-comment [comment]="comment"></post-comment>
        </div>
        <post-add-comment [post]="post$ | async" (addComment)="onAddComment($event)"></post-add-comment>
      </div>
    </div>
  </div>
</div>
