<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 static">
        <post-profile></post-profile>
        <post-news-feed-menu></post-news-feed-menu>
        <post-follow-user></post-follow-user>
      </div>
      <div class="post-back-list">
          <a class="post-back-btn" (click)="onBack()">❮ Back to list</a>
      </div>
      <div class="icon-wrapper">
        <div class="custom-icon">
          <post-clap></post-clap>
        </div>
        <span class="fix-editor">&nbsp;</span>
      </div>
      <div class="col-md-8">
        <post-item [post]="post"></post-item>
      </div>
    </div>
  </div>
</div>
