<div id="page-contents">          
    <div class="container">       
      <div class="row">
        <div class="col-md-3 static">
          <post-profile></post-profile>        
          <post-news-feed-menu></post-news-feed-menu>
          <post-follow-user></post-follow-user>        
        </div>  
        <div class="col-md-9">  
                  
          <div class="float-right">            
           <search-post (searchEvent) ="listenSearchEvent($event)"></search-post>           
          </div>  
         <div class="search-add">
            <label class="switch switch-icon switch-pill switch-primary-outline-alt">
            <input type="checkbox" class="switch-input" checked="" (change)="handleToggleAddPost()">
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>           
          </div>    
           <add-post [toggleAddPost] ='toggleAddPost' (postCreatedEvent) ="postCreatedListen($event)"></add-post>
           <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="true" (scrolled)="onScrollDown()">                         
          <post-list [posts]="posts$ | async" [searchTerm] ="searchTerm"></post-list>
           </div>
      </div>    
     

</div>


