<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs-up hidden-xs-down hidden-sm-up hidden-sm-down static">
        <post-profile></post-profile>
        <post-news-feed-menu></post-news-feed-menu>
        <post-follow-user></post-follow-user>
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="float-right">
          <search-post (searchEvent)="listenSearchEvent($event)"></search-post>
        </div>
        <div class="search-add">
          <label class="switch switch-icon switch-pill switch-primary-outline-alt">
            <input type="checkbox" class="switch-input" checked="" (change)="handleToggleAddPost()">
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <add-post [toggleAddPost]='toggleAddPost' (postCreatedEvent)="postCreatedListen($event)"></add-post>
        <div infinite-scroll [infiniteScrollDistance]="2" [immediateCheck]="true" [scrollWindow]="true" (scrolled)="onScrollDown()">
          <div class="post-content" *ngFor="let post of posts$ | async | filter : searchTerm">
            <post-item [detailMode] = "false" [post]="post" (onDeletePostEvent)="onDeletePost($event)" (clapEvent)="onClapPost($event)"></post-item>
            <div class="post-content-comment" *ngFor='let comment of post.comments.slice(0,1)'>
              <post-comment [comment]="getCommentById(comment) | async">
              </post-comment>
            </div>
          </div>
        </div>
      </div>
    </div>
