<div id="chat-block">
  <div class="title">Chat online</div>
  <ul class="online-users list-inline">
    <li>
      <a href="newsfeed-messages.html" title="Linda Lohan">
        <img src="spa/assets/user-11.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Sophia Lee">
        <img src="spa/assets/user-3.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="John Doe">
        <img src="spa/assets/user-4.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Alexis Clark">
        <img src="spa/assets/user-5.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="James Carter">
        <img src="spa/assets/user-6.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Robert Cook">
        <img src="spa/assets/user-7.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Richard Bell">
        <img src="spa/assets/user-8.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Anna Young">
        <img src="spa/assets/user-9.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
    <li>
      <a href="newsfeed-messages.html" title="Julia Cox">
        <img src="spa/assets/user-10.jpg" alt="user" class="img-responsive profile-photo" />
        <span class="online-dot"></span>
      </a>
    </li>
  </ul>
</div>
<!--chat block ends-->
