<div *ngIf="comments" >
<div class="post-content" *ngFor='let comment of comments'>
  <div class="post-container">
    <div class="user-info">
      <img alt="" class="profile-photo-sm pull-left" src="http://placehold.it/300x300">
      <div>
        <a href="#" class="profile-link">{{ comment.ownerName }}</a>
        <p class="text-muted">Sep 1, 2016</p>
      </div>
    </div>
    <div class="post-text">
      <i class="em em-laughing"></i><p> {{ comment.comment }}</p>
      <post-clap></post-clap>
    </div>
  </div>
</div>
</div>
