<div class="post-content ">
  <div class="post-container">
    <div class="user-info">
      <img alt="" class="profile-photo-sm pull-left" src="http://placehold.it/300x300">
      <div>
        <a href="#" class="profile-link">Diana</a>
        <p class="text-muted">Sep 1, 2016</p>
      </div>
    </div>
    <div class="post-text">
      <i class="em em-laughing"></i><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
      <post-clap></post-clap>
    </div>
  </div>
</div>
<div class="post-content ">
    <div class="post-container">
      <div class="user-info">
        <img alt="" class="profile-photo-sm pull-left" src="http://placehold.it/300x300">
        <div>
          <a href="#" class="profile-link">Michel</a>
          <p class="text-muted">Sep 5, 2017</p>
        </div>
      </div>
      <div class="post-text">
        <i class="em em-laughing"></i><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        <post-clap></post-clap>
      </div>
    </div>
  </div>
