<div class="post-comment">
  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
  <p>
    <a href="timeline.html" class="profile-link">Diana </a>
    <i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud </p>
</div>
<div class="post-comment">
  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" width="40px" />
  <p>
    <a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
</div>
