<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 static">
        <app-post-profile></app-post-profile>
        <app-post-news-feed-menu></app-post-news-feed-menu>
        <app-post-chat-online></app-post-chat-online>
      </div>

      <div class="col-md-7">
          <div class="search-results"  data-infinite-scroll
          
          [infiniteScrollDistance]="1"
          [infiniteScrollThrottle]="10"
          [scrollWindow] = "false"
          (wheel)="onScrollDown()">
          
        <app-add-post></app-add-post>
        <app-post-list [posts]="posts"></app-post-list> 
        </div>
       

      </div>
      <div class="col-md-2 static">
        <app-post-follow-user></app-post-follow-user>
      </div>
    </div>
  </div>
</div>



<!-- <div class="row animated fadeIn">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Angular Posts
      </div>
      <div class="card-body">
        <search-post (searchEvent) ="listenSearchEvent($event)"></search-post>
        <app-post-edit [posts]="posts" [searchTerm] ="searchTerm"></app-post-edit>
      </div>
    </div>
</div>
</div> -->
