<div class="post-container">
  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
  <div class="post-detail">
    <div class="user-info user-post">
      <div *ngIf="!detailMode" class="text-align-right">
        <div id="wrapper">
          <div class="visible">
            <a style="cursor: pointer" class="fa fa-trash fa-lg mt-4" data-toggle="tooltip" title="Remove this" (click)="onDeletePost(post.id)"></a>
          </div>
        </div>
      </div>

      <h5>
        <a href="timeline.html" class="profile-link">{{post.ownerName}}</a>
      </h5>
      <p class="text-muted">Posted on {{post.createdDate | date:'short':'GMT-7'}}</p>

    </div>
    <div class="line-divider"></div>

    <div *ngIf="detailMode; else viewMode">
      <div class="post-text">
        <a class="link-accent">{{post.title}}</a>
        <p>{{post.description }}</p>
      </div>
      <div class="none-line-divider"></div>
     </div>
    <ng-template #viewMode>
    <div class="post-text">
      <a class="link-accent" [routerLink]="[post.id]">{{post.title}}</a>
      <p>{{ post.description | words : 10 : '...' }}</p>
    </div>
    <a [routerLink]="[post.id]" class="button button--smaller button--chromeless u-baseColor--buttonNormal">Read more…</a>
    <div class="none-line-divider"></div>
    <post-clap [NumberOfClaps] = "post.claps.length" (clapEvent)="onClap(post.id)" ></post-clap>
     </ng-template>
  </div>
</div>
